---
layout: default
overview: true
---

{% if page.url == '/' %}
<section class="intro">
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <p class="first">Tutorial Membuat Blog di Github bagi Pemula!</p>
    </div>
  </div>
</section>
<section class="features">
  <div class="grid">
    <div class="unit one-third">
      <h2>Sederhana</h2>
      <p>
        Tidak ada basis data, moderasi komentar, atau pembaruan yang mengganggu dan harus dipasang — hanya konten Anda ..
      </p>
     
    </div>
    <div class="unit one-third">
      <h2>Statis</h2>
      <p>Dengan menggunakan Markdown, Liquid, HTML & CSS. Situs satis anda siap untuk dipublikasikan.</a>
    </div>
    <div class="unit one-third">
      <h2>Keuntungan</h2>
      <p>
        Hosting di Github gratis selamanya, anda tidak perlu mengeluarkan uang tambahan untuk membeli hosting..
      </p>
      
    </div>
    <div class="clear"></div>
  </div>
</section>
<section class="quickstart">
<h2 class="text-center"><i>Tutorial Blog terbaru?</i></h2>
</section>
    
 
{% endif %}
<section class="features">
  <div class="grid mainbox">
 	
     {% for post in paginator.posts %} 
     <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://blog.artipedia.site/article"
  },
  "headline": "{{ post.title }}",
  "image": [
    "https://artipedia.site/img/{{ post.image }}"
    ],
  "datePublished": "{{ post.date }}",
  "dateModified": "{{ post.date }}",
  "author": {
    "@type": "Person",
    "name": "{{ post.author }}"
  },
   "publisher": {
    "@type": "Organization",
    "name": "ArtiPedia",
    "logo": {
      "@type": "ImageObject",
      "url": "https://artipedia.site/img/logo-2x.png"
    }
  },
  "description": "{{ post.description | truncate: 160 }}"
}
</script>
       <a class="post-link-index" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" target="_blank">
          <div class="card">
                <span class="image">
                 <img alt="{{ post.title }}" title="{{ post.title }}" class="post-image-index"  src="/img/{{ post.image }}" width="300" height="146.25" />
                <p class="time"><time datetime="{{post.date | date: "%Y-%m-%d"}}">{{post.date | date: "%Y %b %d"}}</time></p>
                </span>
            <div class="card-footer">
                    <h2 class="post-index-title">{{ post.title }}</h2>
                    <hr>
                    
                     <p  class="post-excerpt">{{ post.description | truncate: 120 }}</p>
               </div>
        </div>   </a><div class="card">
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-6t+ed+2i-1n-4w"
     data-ad-client="ca-pub-1344864982877041"
     data-ad-slot="6785974866"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
         </script></div>         
   
   
      {% endfor %}   
    
    
</div>
{% include pagination.html %}
    <div class="clear"></div>
  </div></section>

