<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="/" title="Home">Home</a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="/docs/sambutan/" title="Docs">Panduan</a>
  </li>
  <li class="{% if page.author %}current{% endif %}">
    <a href="https://artipedia.site/wiki/" title="Artikel Wiki Terbaru">Wiki</a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="/docs/mulai-menulis-artikel/" title="Nulai Menulis Artikel">Mulai</a>
  </li>
</ul>
