---
layout: compress
---
{% include top.html %}

<body class="wrap">
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
  {% include anchor_links.html %}
  {% include search/script.html %}
  {% include analytics.html %}
  {% if page.layout == 'news_item' %}
  <div id='kotak-dialog'><h5 class='title'>Tunggu hingga dokumen muncul<a class='closed' href='#'>Tutup <i aria-hidden='true' class='fa fa-window-close'></i></a></h5><div class='isi-dialog'><div id='iframeContainer'></div></div></div>
  <div id='dialog-overlay'></div>
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
   <script src="{{ "/js/comments.js" | relative_url }}" async></script>
  {% endif %}
  <script async src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script> window.addEventListener("load", function(){ window.cookieconsent.initialise({ "palette": { "popup": { "background": "#eaf7f7", "text": "#5c7291" }, "button": { "background": "#56cbdb", "text": "#ffffff" }, "theme": "edgeless", "position": "top", "content": { "link": "Cookie Policy", "href": "https://artipedia.site/privacy-cookie-policy" } }})});</script>
</body>
</html>
